@layer reset, base, tokens, recipes, utilities;

::selection {
  background-color: var(--colors-color-palette-default);
}

.noscript-alert {
  width: 100vw;
  padding: 20px;
  color: red;
  background-color: snow;
}
