---
import { css } from "$panda/css";
import { Heading } from "$park/heading";
import { SITE } from "~/config";
import Layout from "~/layouts/Layout.astro";
---

<Layout title={SITE.name}>
  <Heading as="h1" size="3xl" class={css({ marginBottom: "0.5rem" })}>
    {SITE.name}
  </Heading>
  <p>
    {SITE.description}
  </p>
</Layout>
